<!DOCTYPE html>
<%- include('partials/header.ejs') %> 


<!-- Trading Chat Carousel--->
    <div class="cshcr-caroulse-layout" style="background-color: rgba(37, 104, 239, 1);" data-time="10" data-fsym="ETH,BTC,DASH,ADA,XRP,ETC,LTC,TRIG,WARP" data-tsyms="USD">
<div class="tradingview-widget-container clearfix" style="width: 100%; height:52px;background-color:rgba(37, 104, 239, 1);">

  <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://s.tradingview.com/embed-widget/ticker-tape/?locale=en#%7B%22symbols%22%3A%5B%7B%22title%22%3A%22S%26P%20500%22%2C%22proName%22%3A%22OANDA%3ASPX500USD%22%7D%2C%7B%22title%22%3A%22Shanghai%20Composite%22%2C%22proName%22%3A%22INDEX%3AXLY0%22%7D%2C%7B%22title%22%3A%22EUR%2FUSD%22%2C%22proName%22%3A%22FX_IDC%3AEURUSD%22%7D%2C%7B%22title%22%3A%22BTC%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3ABTCUSD%22%7D%2C%7B%22title%22%3A%22ETH%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3AETHUSD%22%7D%5D%2C%22colorTheme%22%3A%22light%22%2C%22isTransparent%22%3Atrue%2C%22displayMode%22%3A%22adaptive%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A44%2C%22utm_source%22%3A%22bittradecapitals.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22ticker-tape%22%7D" style="box-sizing: border-box; height: 72px; width: 100%; color:white !important;"></iframe>
  

	</div></div>
        <!-- header end -->


<!--main menu section end-->
<section class="breadcrumb-section" style="background-image: url(images/login.png)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- breadcrumb Section Start -->
                <div class="breadcrumb-content">
                    <h5>OTP CODE CONFIRMATION </h5>
                </div>
                <!-- Breadcrumb section End -->
            </div>
        </div>
    </div>
</section>
<!--Header section end-->

<!--login section start-->
<section class="circle-section section-background">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-admin login-admin1">
                    <div class="login-header text-center">
                        <h6 style="margin-top: 10px;">OTP CODE CONFIRMATION FORM</h6>
                        <p><b> Enter OTP code sent to your account email address</b></p>

                        <!-- <small class="tc-default" style="color: rgb(122, 241, 67) !important" > <%if(success){%> <%=success%> <%}%> </small> -->
                        <small class="tc-default" style="color: rgb(241, 67, 67) !important" > <%if(error){%> <%=error%> <%}%> </small>
					</div>

                                        
                       <div class="login-form">
                        <form class="form-horizontal" method="POST" action="/resetPasswordOtpCode" >
                           <input type="hidden" name="id" value="<%=id%>">
                            <input type="text" maxlength="20" name="otp" id="username" required placeholder="Enter OTP CODE">
                            
                            <input value="Submit" type="submit" style="background-color: rgba(37, 104, 239, 1); ">

<!--
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <a href="https://www.facebook.com/v2.10/dialog/oauth?client_id=318336281993417&amp;redirect_uri=https%3A%2F%2Fwww.axbfinance.com%2Flogin%2Ffacebook%2Fcallback&amp;scope=email&amp;response_type=code&amp;state=6Gk7yzqJaYg6Nb6j4zJMrzb5qtQavAOA2aT7N3rO" class="btn btn-facebook btn-block">
                                        <i class="fa fa-facebook"></i> | Connect with Facebook
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="https://accounts.google.com/o/oauth2/auth?client_id=954646933627-j2t7olcrfgcbtr4d3r8hsthm5bcetfd0.apps.googleusercontent.com&amp;redirect_uri=https%3A%2F%2Fwww.axbfinance.com%2Flogin%2Fgoogle%2Fcallback&amp;scope=openid+profile+email&amp;response_type=code&amp;state=fblE6Nzi7cRbnQ3N4O2ZoBcRxgRAh1HC6KtkXuM4" class="btn btn-google-plus btn-block">
                                        <i class="fa fa-google-plus"></i> | Connect with Google
                                    </a>
                                </div>
                            </div>
-->

                        </form>
						

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Online Section End -->
<div class="clearfix"></div>

<%- include('partials/footer.ejs') %> 

</body>

</html>
